@model CreateAuthorDto
@{
    ViewData["Title"] = "CreateAuthor";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-body">

                    <h4 class="card-title">Yeni Yazar Ekleme</h4>
                    <p class="card-subtitle mb-4">Yeni Yazar Ekleyin</p>

                    <form method="post" asp-action="CreateAuthor" asp-controller="AdminAuthor">

                        <div class="form-group">
                            <label for="exampleInputBrandName">isim Soyisim</label>
                            <input asp-for="@Model.authorName" type="text" class="form-control" placeholder="İsim Soyisim Giriniz" />
                        </div>
                        <div class="form-group">
                            <label for="exampleInputBrandName">Açıklama</label>
                            <input asp-for="@Model.description" type="text" class="form-control" placeholder="Açıklama Giriniz" />
                        </div>
                        
                        <div class="form-group">
                            <label for="exampleInputBrandName">Görsel Yolu</label>
                            <input asp-for="@Model.imageUrl" type="text" class="form-control" placeholder="Görsel Yolu Giriniz" />
                        </div>

                        <button type="submit" class="btn btn-primary waves-effect waves-light">Yazar Ekle</button>
                    </form>

                </div> <!-- end card-body-->
            </div>

        </div>
    </div>
</div>

