@model UpdatePricingDto 
@{
    ViewData["Title"] = "UpdatePricing";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-body">

                    <h4 class="card-title">Ödeme Opsiyonu Güncelle </h4>
                    <p class="card-subtitle mb-4">Opsiyonu güncelleyiniz.</p>

                    <form method="post" asp-action="UpdatePricing" asp-controller="AdminPricing">
                        <input type="hidden" asp-for="pricingId" />
                        <div class="form-group">
                            <label for="exampleInputFeatureName">Opsiyon İsmi</label>
                            <input asp-for="@Model.pricingName" type="text" class="form-control"  />
                        </div>



                        <button type="submit" class="btn btn-primary waves-effect waves-light"> Opsiyon  Güncelle</button>
                    </form>

                </div> <!-- end card-body-->
            </div>

        </div>
    </div>
</div>

